* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  font-family: 'Roboto', sans-serif;
}

.header-container, .main-section-one-container {
  background-color: #1f2937;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  align-self: center;
  font-weight: bold;
}

ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style-type: none;
}

a, .section-one-subtext {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}

.left-side, .right-side {
  flex: 1 1 50%;
  margin: 5rem 0;
}

.main-section-one {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
}

.section-one-header {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;  
}

.section-one-subtext {
  font-size: 18px;
  color: #E5E7EB;  
  margin: 2rem 0;
}

.section-one-button {
  background-color: #3882f6;
  color: #F9FAF8;
  padding: 1rem;
}

button {
  border: none;
  border-radius: 5px;
  width: 150px;
}

.main-section-two{ 
  max-width: 1280px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustrations-container {
  padding: 2.5rem 0;
  display: flex;
  gap: 5rem; 
}

.illustration {
  width: 150px;
}

.illustration-text {
  text-align: center;
}

.illustrations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blue-square {
  background-color: #3882f6;
  height: 150px;
  width: 150px;
}

.main-section-three-container {
  background-color: #e5e7eb;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section-three {
  max-width: 1280px;
  margin: 3rem auto;
  text-align: left;
}

.main-section-three > p{
  font-size: xx-large;
}

.main-section-four {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  background-color: #1f2937;
}

.footer {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  color: #E5E7EB;
}


.call-to-action {
  background-color: #3882f6;
  width: 1280px;
  height: 200px;
  border-radius: 5px;
  display: flex;
}

.call-to-action > .left-side {
  flex: 1 1 65%; 
  display: flex;
  justify-content: center;
  align-content: center;
  color: #E5E7EB;
}

.call-to-action > .right-side {
  flex: 1 1 35%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {

}